/* CUSTOM */
.dropdown-toggle[aria-expanded="false"]:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.dropdown-toggle[aria-expanded="true"]:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

/*for the animation*/
.dropdown-toggle:after {
    transition: 0.5s;
    font-size: 1.4rem;
}

.nav-sidebar .nav-link p {
    display: inline-block;
    margin: 0;
}

.nav-sidebar .nav-item > .nav-link {
    margin-bottom: 0.2rem;
}
.nav-sidebar > .nav-item .nav-icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
    text-align: center;
    width: 1.6rem;
}
/* CUSTOM */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #343a40;
    /*background: #7386D5;*/
    color: #fff;
    transition: all 0.3s;
}


#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul p {
    color: #fff;
}

#sidebar ul li a {
    font-size: 1.1em;
    display: block;
    color: #c2c7d0;
    border-radius: 0.25rem;
}

#sidebar ul li a:hover {
    color: #fff;
    background-color:rgba(255, 255, 255, 0.1);
    
}

/*  */
#sidebar ul li>a.active,
a[aria-expanded="true"] {
    color: #fff;
    background-color:rgba(255, 255, 255, 0.1)
}

a {
    outline: 0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    background-color: #f4f6f9;
    transition: all 0.3s;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        position: absolute;
        z-index: 9999;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}